In [1]:
%load_ext lab_black

In [1]:
import requests, json, random
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
from config import weather_api_key
from config import g_key
from config import mapbox_token
from citipy import citipy

# from sklearn.linear_model import LinearRegression
from scipy import stats
from datetime import date

In [2]:
px.set_mapbox_access_token(mapbox_token)

In [3]:
# Build list of random coordinates

coordinate_list = []
counter = 0
number_of_points = 500

while counter < number_of_points:
    lat = round(random.uniform(-90, 90), 6)
    lon = round(random.uniform(-180, 180), 6)
    counter += 1
    coordinate_list.append((lat, lon))

# Assign nearest city to given set of coordinates
cities = []
city_count = 0

for coords in coordinate_list:
    city = citipy.nearest_city(coords[0], coords[1])
    if city.city_name not in cities:
        cities.append(city.city_name)
        city_count += 1

In [4]:
# Obtain weather data for cities in the list

cities_results = []
count = 0
found_count = 0
not_found_count = 0

print("Beginning data retrieval:\n")
print(50 * "-")

for citi in cities:
    endpoint = "http://api.openweathermap.org/data/2.5/weather"
    payload = {"q": citi, "appid": weather_api_key, "units": "imperial"}

    r = requests.get(url=endpoint, params=payload)

    count += 1

    if r.status_code == 200:
        data = r.json()
        cities_results.append(data)
        print("Processing record: ", count, " | ", citi)
        found_count += 1
    else:
        print("Processing record: ", count, " | ", citi, " *Not Found*")
        not_found_count += 1

Beginning data retrieval:

--------------------------------------------------
Processing record:  1  |  hermanus
Processing record:  2  |  vaini
Processing record:  3  |  kapaa
Processing record:  4  |  butaritari
Processing record:  5  |  atuona
Processing record:  6  |  tuni
Processing record:  7  |  dawlatabad
Processing record:  8  |  belushya guba  *Not Found*
Processing record:  9  |  tuktoyaktuk
Processing record:  10  |  kaitangata
Processing record:  11  |  odweyne
Processing record:  12  |  busselton
Processing record:  13  |  saint-augustin
Processing record:  14  |  avarua
Processing record:  15  |  east london
Processing record:  16  |  narsaq
Processing record:  17  |  rikitea
Processing record:  18  |  deputatskiy
Processing record:  19  |  qaanaaq
Processing record:  20  |  ganzhou
Processing record:  21  |  santa eulalia del rio  *Not Found*
Processing record:  22  |  mataura
Processing record:  23  |  antofagasta
Processing record:  24  |  aasiaat
Processing record:  25  |  mar del plata
Processing record:  26  |  illoqqortoormiut  *Not Found*
Processing record:  27  |  nabha
Processing record:  28  |  esperance
Processing record:  29  |  brandfort
Processing record:  30  |  barrow
Processing record:  31  |  arraial do cabo
Processing record:  32  |  tsihombe  *Not Found*
Processing record:  33  |  oistins
Processing record:  34  |  inongo
Processing record:  35  |  puerto ayora
Processing record:  36  |  ilulissat
Processing record:  37  |  port lincoln
Processing record:  38  |  port alfred
Processing record:  39  |  itarema
Processing record:  40  |  castro
Processing record:  41  |  jamestown
Processing record:  42  |  oranjemund
Processing record:  43  |  provideniya
Processing record:  44  |  ushuaia
Processing record:  45  |  punta arenas
Processing record:  46  |  port blair
Processing record:  47  |  nikolskoye
Processing record:  48  |  svetlogorsk
Processing record:  49  |  georgetown
Processing record:  50  |  katsuura
Processing record:  51  |  lisakovsk
Processing record:  52  |  nishihara
Processing record:  53  |  port hedland
Processing record:  54  |  new norfolk
Processing record:  55  |  talnakh
Processing record:  56  |  albany
Processing record:  57  |  taolanaro  *Not Found*
Processing record:  58  |  saldanha
Processing record:  59  |  banjar
Processing record:  60  |  hambantota
Processing record:  61  |  kurumkan
Processing record:  62  |  raahe
Processing record:  63  |  pangnirtung
Processing record:  64  |  bredasdorp
Processing record:  65  |  port elizabeth
Processing record:  66  |  timra
Processing record:  67  |  hobart
Processing record:  68  |  kalemie
Processing record:  69  |  cape town
Processing record:  70  |  carnarvon
Processing record:  71  |  klaksvik
Processing record:  72  |  marzuq
Processing record:  73  |  margate
Processing record:  74  |  goderich
Processing record:  75  |  gondar
Processing record:  76  |  victoria
Processing record:  77  |  ribeira grande
Processing record:  78  |  tibati
Processing record:  79  |  darnah
Processing record:  80  |  schwedt
Processing record:  81  |  saskylakh
Processing record:  82  |  lakhdenpokhya
Processing record:  83  |  longyearbyen
Processing record:  84  |  xiuyan
Processing record:  85  |  nanortalik
Processing record:  86  |  bowen
Processing record:  87  |  asau
Processing record:  88  |  avera
Processing record:  89  |  dukat
Processing record:  90  |  poronaysk
Processing record:  91  |  sidney
Processing record:  92  |  lavrentiya
Processing record:  93  |  fukue
Processing record:  94  |  chokurdakh
Processing record:  95  |  thompson
Processing record:  96  |  pauini
Processing record:  97  |  porto belo
Processing record:  98  |  adrar
Processing record:  99  |  fevik
Processing record:  100  |  kodiak
Processing record:  101  |  brae
Processing record:  102  |  shumskiy
Processing record:  103  |  palabuhanratu  *Not Found*
Processing record:  104  |  basco
Processing record:  105  |  kantang
Processing record:  106  |  sao filipe
Processing record:  107  |  saint-philippe
Processing record:  108  |  burica  *Not Found*
Processing record:  109  |  sentyabrskiy  *Not Found*
Processing record:  110  |  kungurtug
Processing record:  111  |  barentsburg  *Not Found*
Processing record:  112  |  hilo
Processing record:  113  |  kapit
Processing record:  114  |  upernavik
Processing record:  115  |  molina
Processing record:  116  |  beringovskiy
Processing record:  117  |  rungata  *Not Found*
Processing record:  118  |  dikson
Processing record:  119  |  buta
Processing record:  120  |  chitral
Processing record:  121  |  ixtapa
Processing record:  122  |  yellowknife
Processing record:  123  |  merauke
Processing record:  124  |  alofi
Processing record:  125  |  ankang
Processing record:  126  |  lodeynoye pole
Processing record:  127  |  khatanga
Processing record:  128  |  gushikawa
Processing record:  129  |  ajdabiya
Processing record:  130  |  gizo
Processing record:  131  |  araguari
Processing record:  132  |  coquimbo
Processing record:  133  |  raudeberg
Processing record:  134  |  farafangana
Processing record:  135  |  pisco
Processing record:  136  |  erzurum
Processing record:  137  |  khonuu  *Not Found*
Processing record:  138  |  san ignacio
Processing record:  139  |  vao
Processing record:  140  |  saint george
Processing record:  141  |  severo-kurilsk
Processing record:  142  |  comodoro rivadavia
Processing record:  143  |  sainte-anne-des-monts
Processing record:  144  |  norman wells
Processing record:  145  |  ewo
Processing record:  146  |  kupang
Processing record:  147  |  pevek
Processing record:  148  |  lata
Processing record:  149  |  wum
Processing record:  150  |  namibe
Processing record:  151  |  orange walk
Processing record:  152  |  kenitra
Processing record:  153  |  tabiauea  *Not Found*
Processing record:  154  |  tuatapere
Processing record:  155  |  hojai
Processing record:  156  |  kuryk
Processing record:  157  |  inyonga
Processing record:  158  |  najran
Processing record:  159  |  kisangani
Processing record:  160  |  chimbarongo
Processing record:  161  |  padang
Processing record:  162  |  asyut
Processing record:  163  |  jaciara
Processing record:  164  |  loa janan
Processing record:  165  |  saint-pierre
Processing record:  166  |  batsfjord
Processing record:  167  |  udala
Processing record:  168  |  santa cruz
Processing record:  169  |  karasuk
Processing record:  170  |  aneho
Processing record:  171  |  marsh harbour
Processing record:  172  |  ransang
Processing record:  173  |  bluff
Processing record:  174  |  abu samrah
Processing record:  175  |  skelleftea
Processing record:  176  |  kalmunai
Processing record:  177  |  port keats
Processing record:  178  |  changde
Processing record:  179  |  cajamarca
Processing record:  180  |  lewistown
Processing record:  181  |  katherine
Processing record:  182  |  vallenar
Processing record:  183  |  mayo
Processing record:  184  |  barcelos
Processing record:  185  |  rudnaya pristan
Processing record:  186  |  luderitz
Processing record:  187  |  chuy
Processing record:  188  |  birjand
Processing record:  189  |  sitka
Processing record:  190  |  iqaluit
Processing record:  191  |  san cristobal
Processing record:  192  |  tchibanga
Processing record:  193  |  dunedin
Processing record:  194  |  port hardy
Processing record:  195  |  mollendo
Processing record:  196  |  umzimvubu  *Not Found*
Processing record:  197  |  coos bay
Processing record:  198  |  mbandaka
Processing record:  199  |  zhigansk
Processing record:  200  |  ituni  *Not Found*
Processing record:  201  |  grand river south east  *Not Found*
Processing record:  202  |  mys shmidta  *Not Found*
Processing record:  203  |  tasiilaq
Processing record:  204  |  salamina
Processing record:  205  |  camocim
Processing record:  206  |  irbeyskoye
Processing record:  207  |  lasa
Processing record:  208  |  amderma  *Not Found*
Processing record:  209  |  kutum
Processing record:  210  |  gavar
Processing record:  211  |  longmont
Processing record:  212  |  phulabani
Processing record:  213  |  bengkulu
Processing record:  214  |  muros
Processing record:  215  |  cabedelo
Processing record:  216  |  saint-joseph
Processing record:  217  |  ottawa
Processing record:  218  |  melfort
Processing record:  219  |  constitucion
Processing record:  220  |  san patricio
Processing record:  221  |  souillac
Processing record:  222  |  caravelas
Processing record:  223  |  suntar
Processing record:  224  |  luyang
Processing record:  225  |  leua
Processing record:  226  |  flin flon
Processing record:  227  |  rayadrug
Processing record:  228  |  anadyr
Processing record:  229  |  maralal
Processing record:  230  |  zhongshan
Processing record:  231  |  waynesboro
Processing record:  232  |  dungarpur
Processing record:  233  |  tshikapa
Processing record:  234  |  polyanka
Processing record:  235  |  nabire
Processing record:  236  |  lagoa
Processing record:  237  |  nizhneyansk  *Not Found*
Processing record:  238  |  san juan
Processing record:  239  |  makakilo city
Processing record:  240  |  mabaruma
Processing record:  241  |  sungaipenuh
Processing record:  242  |  bethel
Processing record:  243  |  ust-omchug
Processing record:  244  |  fort nelson
Processing record:  245  |  ciudad real
Processing record:  246  |  san pedro
Processing record:  247  |  necochea
Processing record:  248  |  portree
Processing record:  249  |  ust-kamchatsk  *Not Found*
Processing record:  250  |  yulara
Processing record:  251  |  gagra
Processing record:  252  |  bolungarvik  *Not Found*
Processing record:  253  |  mrirt  *Not Found*
Processing record:  254  |  umm durman  *Not Found*
Processing record:  255  |  nantucket
Processing record:  256  |  chumikan
Processing record:  257  |  kavieng
Processing record:  258  |  hirtshals
Processing record:  259  |  sakakah
Processing record:  260  |  hellvik
Processing record:  261  |  scicli
Processing record:  262  |  los llanos de aridane
Processing record:  263  |  ostrovnoy
Processing record:  264  |  huarmey
Processing record:  265  |  cherskiy
Processing record:  266  |  hithadhoo
Processing record:  267  |  bonavista
Processing record:  268  |  ola
Processing record:  269  |  aflu  *Not Found*
Processing record:  270  |  fort-shevchenko
Processing record:  271  |  samusu  *Not Found*
Processing record:  272  |  port hawkesbury
Processing record:  273  |  pacific grove
Processing record:  274  |  san quintin
Processing record:  275  |  tarudant  *Not Found*
Processing record:  276  |  samana
Processing record:  277  |  srednekolymsk
Processing record:  278  |  kamenka
Processing record:  279  |  lolua  *Not Found*
Processing record:  280  |  guerrero negro
Processing record:  281  |  mugumu

In [9]:
r.status_code

200

In [10]:
r.url

'http://api.openweathermap.org/data/2.5/weather?q=mugumu&appid=37a1498de740e2228eee5f21decc9230&units=imperial'

In [11]:
found_count

255

In [12]:
not_found_count

26

In [13]:
cities_results[0]

{'coord': {'lon': 19.23, 'lat': -34.42},
 'weather': [{'id': 500,
   'main': 'Rain',
   'description': 'light rain',
   'icon': '10d'}],
 'base': 'stations',
 'main': {'temp': 55,
  'feels_like': 51.73,
  'temp_min': 55,
  'temp_max': 55,
  'pressure': 1012,
  'humidity': 77},
 'visibility': 10000,
 'wind': {'speed': 5.01, 'deg': 213, 'gust': 15.99},
 'rain': {'1h': 0.18},
 'clouds': {'all': 100},
 'dt': 1601046954,
 'sys': {'type': 3,
  'id': 2006131,
  'country': 'ZA',
  'sunrise': 1601008071,
  'sunset': 1601052086},
 'timezone': 7200,
 'id': 3366880,
 'name': 'Hermanus',
 'cod': 200}

In [14]:
city_data = []

for city in cities_results:
    city_data.append(
        {
            "City": city["name"],
            "Country": city["sys"]["country"],
            "Lat": city["coord"]["lat"],
            "Long": city["coord"]["lon"],
            "Temp_max": city["main"]["temp_max"],
            "Humidity": city["main"]["humidity"],
            "Cloudiness": city["clouds"]["all"],
            "Wind_Speed": city["wind"]["speed"],
        }
    )

city_weather = pd.DataFrame(city_data)
city_weather
# city_table.to_csv("data/city_weather_data.csv", index=False)

,City,Country,Lat,Long,Temp_max,Humidity,Cloudiness,Wind_Speed
0,Hermanus,ZA,-34.42,19.23,55.00,77,100,5.01
1,Vaini,TO,-21.20,-175.20,71.60,88,20,6.93
2,Kapaa,US,22.08,-159.32,78.80,78,40,14.99
3,Butaritari,KI,3.07,172.79,82.09,71,10,15.77
4,Atuona,PF,-9.80,-139.03,77.54,77,22,14.63
...,...,...,...,...,...,...,...,...
250,Samaná,DO,19.21,-69.34,89.60,75,20,9.17
251,Srednekolymsk,RU,67.45,153.68,38.84,78,27,7.00
252,Kamenka,RU,51.32,42.77,63.82,46,0,9.82
253,Guerrero Negro,MX,27.98,-114.06,73.44,70,0,9.24
254,Mugumu,TZ,-1.85,34.70,71.47,61,90,4.00

In [15]:
hotel_df = city_weather.loc[
    (city_weather["Cloudiness"] == 0)
    & (city_weather["Wind_Speed"] < 10)
    & (city_weather["Temp_max"] > 70)
    & (city_weather["Temp_max"] < 80)
]
hotel_df

,City,Country,Lat,Long,Temp_max,Humidity,Cloudiness,Wind_Speed
35,Castro,BR,-24.79,-50.01,79.47,36,0,2.77
246,Fort-Shevchenko,KZ,44.51,50.26,72.70,35,0,6.49
253,Guerrero Negro,MX,27.98,-114.06,73.44,70,0,9.24

In [22]:
hotel_df["Hotel_Name"] = ""
hotel_df

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Country,Lat,Long,Temp_max,Humidity,Cloudiness,Wind_Speed,Hotel_Name
35,Castro,BR,-24.79,-50.01,79.47,36,0,2.77,
246,Fort-Shevchenko,KZ,44.51,50.26,72.70,35,0,6.49,
253,Guerrero Negro,MX,27.98,-114.06,73.44,70,0,9.24,

In [25]:
hotel_df["Lat"].values[0]

-24.79

In [79]:
r.json()

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [80]:
cities_results[0]

{'coord': {'lon': -97.86, 'lat': 55.74},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 48.2,
  'feels_like': 43.65,
  'temp_min': 48.2,
  'temp_max': 48.2,
  'pressure': 994,
  'humidity': 87},
 'visibility': 10000,
 'wind': {'speed': 5.82, 'deg': 130},
 'clouds': {'all': 90},
 'dt': 1601013540,
 'sys': {'type': 1,
  'id': 935,
  'country': 'CA',
  'sunrise': 1601036619,
  'sunset': 1601079727},
 'timezone': -18000,
 'id': 6165406,
 'name': 'Thompson',
 'cod': 200}

In [26]:
hotel_df["Lat"].values[0]

-24.79

In [27]:
hotel_df["Lat"].values

array([-24.79,  44.51,  27.98])

In [81]:

for city in hotel_df:
    
# r = requests.get("https://maps.googleapis.com/maps/api/geocode/json", params={
#     "address": "University of Texas",
#     "key": "your key"
# })

# data = r.json()

# lat = data["results"][0]["geometry"]["location"]["lat"]

# lng = data["results"][0]["geometry"]["location"]["lng"]

    lat = hotel_df.loc[hotel_df["City"] == cities_results["name"]]
    lng = cities_results.loc[cities_results["name"] == hotel_df["City"]]["coord"]["lon"]
    hotel_df["Lat"].values[0]
    
    lat_lng_str = str(lat) + "," + str(lng)
    
    r = requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json", params={
        "location": lat_lng_str,
        "radius": 5000,
        "type": "restaurant",
        "key": "g_key"
    })
#     hotel_df["Hotel_Name"] = r

AttributeError: 'list' object has no attribute 'loc'

In [ ]:
# geocoordinates
target_coordinates = "43.6187102, -116.2146068"
target_search = "Chinese"
target_radius = 8000
target_type = "restaurant"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": gkey
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [ ]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
url = "http://www.omdbapi.com/"
api_key = "trilogy"

movies = ["Aliens", "Sing", "Moana"]

movies_results = []

for movie_title in movies:
    
    movie_result = requests.get(url, params={
        "apikey": api_key,
        "t": movie_title
    }).json()
    
    print(movie_result["Director"])
    
    movies_results.append(movie_result)